@import "./themes/rose-pine.css";

* {
    font-family: "JetBrainsMono Nerd Font Propo";
}

window#waybar {
    color: @text;
    background: transparent;
}

#waybar > box {
    padding: 8px 16px;
    padding-bottom: 0;
    padding-bottom: 0;
}

#workspaces,
#clock,
#hardware,
#network,
#tray {
    color: @text;
    background: @base;
    border-radius: 8px;
}

#clock,
#hardware,
#tray,
#network {
    padding: 0 8px;
}

#hardware {
    margin-right: 8px;
}

#workspaces button {
    color: @muted;
    transition:
        color 0.2s ease-in-out,
        background-color 0.2s ease-in-out;
}

#workspaces button:hover {
    color: @text;
    background-color: @highlightLow;
}

#workspaces button.active {
    color: @text;
}

#memory {
    margin-right: 12px;
}
