@import "./styles/rose-pine.css";


window {
  background-color: transparent;
}


#outer-box {
  padding: 8px;
  border-radius: 8px;
}

button {
  padding: 12px;
}

button:not(:last-child) {
  margin-right: 12px;
}
